<nav class="navbar navbar-expand d-flex align-items-center justify-content-between">
    <span class="navbar-brand">ngx-lottie-view</span>
    <div id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/toolkitx/ngx-lottie-view">Get Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/toolkitx/ngx-lottie-view">Github</a>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex align-items-center p-5">
    <div class="row m-5">
        <div class="col-md-4 col-sm-12">
            <ngx-lottie-view [loop]="true" speed="1" path="https://assets9.lottiefiles.com/packages/lf20_pGDY6F.json"
                             style="width: 100%; height: 500px;">
            </ngx-lottie-view>
        </div>
        <div class="col-md-4 col-sm-12">
            <ngx-lottie-view [loop]="true" speed="1" path="https://assets10.lottiefiles.com/packages/lf20_4ejZJA.json"
                             style="width: 100%; height: 500px;">
            </ngx-lottie-view>
        </div>
        <div class="col-md-4 col-sm-12">
            <ngx-lottie-view [loop]="true" speed="1"
                             path="https://assets10.lottiefiles.com/datafiles/wO74ywZJINhU2Mh/data.json"
                             style="width: 100%; height: 500px;">
            </ngx-lottie-view>
        </div>
    </div>
</div>

<footer class="mt-auto text-center p-5">
    <div class="text-sm text-grey-dark flex">
        Made with <span class="mx-1 text-danger w-3">&hearts;</span> from <a href="https://www.toolkitx.net">Toolkitx</a>.
    </div>
    <small class="text-muted">
        Animation paths are from @Alex FIQHI, @Ghulam Qadir, @Will Dos Santos / <a href="https://lottiefiles.com">Lottie Files</a>.
    </small>
</footer>
